$icon-size: 48px
$header-size: 64px
$inconsolata: 'Inconsolata', monospace
$montserrat: 'Montserrat', sans-serif

#login-header
  font-size: $header-size
  margin-bottom: 0.25em
  font-family: $inconsolata
  font-weight: bold

#icon
  font-size: $icon-size

#login
  margin-top: 15em

#login, #loggedin
  display: none

.text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 500px

.center
  display: block
  margin-left:auto
  margin-right: auto
  width: 100%

#cloud-icon
  margin-top: -1.5em
  margin-left: -2em

#logo-icons
  margin-left: 7em
