@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,400");
html {
  height: 100%; }

body {
  height: 100%;
  background: linear-gradient(to left, #fd746c, #ff9068); }

#login-header {
  font-size: 64px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #070600;
  background-color: #F7F7FF;
  width: 50%;
  padding-top: 0.25em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.25em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid #070600;
  border-left: 2px solid #070600;
  border-right: 2px solid #070600; }
  @media screen and (max-width: 375px) {
    #login-header {
      font-size: 36px;
      width: 75%; } }

.button {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  background-color: #058ED9;
  border: 1px solid #058ED9;
  color: #F7F7FF;
  transition: all 0.3s ease 0s;
  height: 2em; }
  @media screen and (max-width: 375px) {
    .button {
      font-size: 15px; } }

.button:hover {
  background-color: #04689E;
  border: 1px solid #04689E;
  color: #F7F7FF; }

#icon {
  font-size: 48px;
  color: #070600;
  margin-left: 0.2em; }
  @media screen and (max-width: 375px) {
    #icon {
      margin-left: -0.4em; } }

#login {
  margin-top: 12em;
  padding-bottom: 3em; }

#login, #loggedin {
  display: none; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#cloud-icon {
  margin-top: -1.5em;
  margin-left: -4em; }
  @media screen and (max-width: 375px) {
    #cloud-icon {
      margin-left: -6em; } }

#music-icon {
  margin-left: 3em; }
  @media screen and (max-width: 375px) {
    #music-icon {
      margin-left: 1em; } }

#logo-icons {
  margin-top: -1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F7FF;
  border-left: 2px solid #070600;
  border-right: 2px solid #070600;
  width: 50%; }
  @media screen and (max-width: 375px) {
    #logo-icons {
      width: 75%; } }

#login-button-background {
  background-color: #F7F7FF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #070600;
  border-left: 2px solid #070600;
  border-right: 2px solid #070600; }
  @media screen and (max-width: 375px) {
    #login-button-background {
      width: 75%; } }

.zipcode {
  background-color: #F7F7FF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 20px;
  margin-top: 12em;
  border: 2px solid #070600; }
  @media screen and (max-width: 375px) {
    .zipcode {
      width: 90%;
      margin-top: 16em; } }

.zip-in {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  outline: none;
  display: block;
  width: 50%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
  font-size: 24px;
  font-family: "Work Sans", sans-serif; }
  @media screen and (max-width: 375px) {
    .zip-in {
      font-size: 18px; } }

.generate {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0; }

#playerBackground {
  background-color: #F7F7FF;
  height: 440px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  border-radius: 20px;
  border: 2px solid #070600; }
  @media screen and (max-width: 375px) {
    #playerBackground {
      margin-top: 6em; } }

#spotifyPlayer {
  display: block;
  position: relative;
  width: 290px;
  height: 400px;
  margin-top: 1.2em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 375px) {
  .get-new {
    margin-left: -1em; } }

/*# sourceMappingURL=styles.css.map */
