$icon-size: 48px
$header-size: 64px
$button-text: 24px
$work-sans: 'Work Sans', sans-serif
$thin: 100
$regular: 400
$light-grey: #F7F7FF
$dark-grey: #070600
$blue: #058ED9
$blue-hover: #04689E
$peach: #ff9068
$pink: #fd746c
$login-radius: 20px
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400')

html
  height: 100%
body
  height: 100%
  background: linear-gradient(to left, $pink , $peach)

#login-header
  font-size: $header-size
  font-family: $work-sans
  font-weight: $regular
  color: $dark-grey
  background-color: $light-grey
  width: 50%
  margin-left: auto
  margin-right: auto
  padding-bottom: 0.25em
  border-top-left-radius: $login-radius
  border-top-right-radius: $login-radius
  border-top: 2px solid $dark-grey
  border-left: 2px solid $dark-grey
  border-right: 2px solid $dark-grey

.button
  font-family: $work-sans
  font-size: $button-text
  font-weight: $thin
  background-color: $blue
  border: 1px solid $blue
  color: $light-grey
  padding-top: 0.75em
  padding-bottom: 0.75em
  transition: all 0.3s ease 0s

.button:hover
  background-color: $blue-hover
  border: 1px solid $blue-hover
  color: $light-grey

#icon
  font-size: $icon-size
  color: $dark-grey
  margin-left: 0.20em

#login
  margin-top: 12em
  padding-bottom: 3em

#login, #loggedin
  display: none

.text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: 500px

.center
  display: block
  margin-left: auto
  margin-right: auto
  width: 100%

#cloud-icon
  margin-top: -1.5em
  margin-left: -4em
#music-icon
  margin-left: 3em

#logo-icons
  margin-top: -1em
  margin-left: auto
  margin-right: auto
  background-color: $light-grey
  border-left: 2px solid $dark-grey
  border-right: 2px solid $dark-grey
  width: 50%

#login-button-background
  background-color: $light-grey
  width: 50%
  margin-left: auto
  margin-right: auto
  padding-bottom: 2em
  border-bottom-left-radius: $login-radius
  border-bottom-right-radius: $login-radius
  border-bottom: 2px solid $dark-grey
  border-left: 2px solid $dark-grey
  border-right: 2px solid $dark-grey
.zipcode
  background-color: $light-grey
  width: 50%
  margin-left: auto
  margin-right: auto
  padding-top: 1em
  padding-bottom: 1em
  border-radius: $login-radius
  margin-top: 5em
  border: 2px solid $dark-grey


.zip-in
  display: block
  margin-left: auto
  margin-right: auto
  text-align: center
  outline: none
  display: block
  width: 50%
  padding: 7px
  border: none
  border-bottom: 2px solid #ddd
  background: transparent
  margin-bottom: 10px
  height: 45px
  font-size: 24px
  font-family: $work-sans

.generate
  width: 60%
  margin-left: auto
  margin-right: auto
  padding-top: 0
  padding-bottom: 0


#playerBackground
  background-color: $light-grey
  height: 440px
  width: 320px
  margin-left: auto
  margin-right: auto
  margin-top: 1em
  border-radius: $login-radius
  border: 2px solid $dark-grey


#spotifyPlayer
  display: block
  position: relative
  width: 290px
  height: 400px
  margin-top: 1.2em
  margin-bottom: auto
  margin-left: auto
  margin-right: auto
